.mapContainer {
    width: 100%;
    height: calc(100vh - 60px);
}
.newMap { 
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.currentLocationButton {
    position: absolute;
    right: 15px;
    bottom: 25px;
    z-index: 100;
}