.container {
    width: 100wv;
    margin: 0;
    /* background-color: red; */
    margin-bottom: -50px;
    padding: 0px;
}
.video {
    width: 100%;
    margin: 0px;
}
.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}
.serachField {
    width: 800px;
    z-index: 10;
    position: absolute;
    left: 50%;
    height: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 800px) {
    .title {
        top:20%;
    }
    .serachField {
        width: 300px;
        top: 180px;
    }
}