.container {
    width: 100wv;
    margin: 0;
    /* background-color: red; */
    margin-bottom: 380px;
    padding: 0px;
}
.video {
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
}
.serachField {
    width: 800px;
    z-index: 10;
    /* opacity: 0.6; */
    position: absolute;
    border-radius: 30px;
    left: 50%;
    height: 50px;
    top: 50%;
    font-size: 16px;
    transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    .title {
        top:20%;
    }
    .serachField {
        width: 90%;
        /* top: 160px; */
    }
}