html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mantine-1nnrdux {
  padding: 0;  
}
* {
  box-sizing: border-box;
}

.mantine-Image-caption {
  margin: 0;
  font-size: 10px;
}
/* map marker infowindow remove padding */
.gm-style-iw-d {
  overflow: hidden !important;
}
.gm-style-iw-c {
  padding: 0px !important;
  width: 100% !important;
}
/* map marker infowindow close button */
.gm-ui-hover-effect span{
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
