.container {
    width: 100wv;
    height: 12%;
    margin: 0;
    /* background-color: red; */
    margin-bottom: -50px;
    padding: 0px;
}
.video {
    width: 100%;
    margin: 0px;
}

.serachField {
    width: 700px;
}
.searchSection {
    width: 800px;
    z-index: 10;
    position: absolute;
    left: 50%;
    height: 50px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.calendar {
    margin: auto;
    background-color:white;
    z-index: 100; 
    border-radius: 20px; 
}
@media (max-width: 800px) {
    .container {
        height: 200px;
    }
    .searchSection  {
        width: 400px;
        align-items: center;
        justify-content: center;
        top: 160px;
    }
    .serachField {
        width: 250px;
    }

}