.container {
    width: 100%;
    height: 12%;
    margin: 0;
    /* background-color: red; */
    /* margin-bottom: -50px; */
    padding: 0px;
}
.heroImage {
    object-fit: cover;
    width: 100%;
}
.video {
    width: 100%;
}
.serachField{ 
    width: 80%;
}
.searchSection {
    width: 800px;
    z-index: 10;
    position: absolute;
    left: 50%;
    height: 50px;
    top: 45%;
    transform: translate(-50%, -50%);
}
.calendar {
    margin: auto;
    background-color: black; 
    border-radius: 20px;
    z-index: 100;
}
.calendarContainer {
    background-color: black;
    margin-top: -80px;
}
@media (max-width: 800px) {
    .container {
        height: 200px;
    }
    .searchSection  {
        width: 100%;
        align-items: center;
        justify-content: center;
        top: 150px;
    }
    .serachField {
        width: 300px;
    }

}